<html>
<head>
	<meta charset="UTF-8">
	<title>My Notes App</title>
	<!-- Compiled and minified CSS for Materialize -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
</head>
<body>
	{{{body}}}

	<!-- Compiled and minified jQuery / dependency for Materalize -->
	<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
	<!-- Compiled and minified JavaScript for Materialize -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
</body>
</html>